/*Overall Font-style*/
/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
body{
  font-family: 'Outfit', sans-serif;
} */
/* 
label, p, a, button {
  font-family: 'Outfit', sans-serif;
} */



/*Login page*/
.bi .bi-eye-slash-fill{
  color: #B8C1CC;
}
/*End of Login page*/

.outlogin {
    background-color: #2b3540;
    color: #e7e6e6;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    justify-content: space-between;
    width: 80%;
}

.outlogin:hover {
  opacity: .8;
}

.outlogin span {
  float: left;
  color: #E7ECF2 !important;
  font-weight: normal;
}

.outlogin img {
    float: right;
    padding-top: 6px;
}


/*Global Switch Element Height Adjustment*/
/* .form-switch .form-check-input{
  width: 36px !important;
  height: 20px;
} */
/*End of Globel Swtich Element Adjustment*/ 

/*Global Modal Edge border radius*/
.modal-content{
  border-radius: 20px;
}
/*Global Modal Edge border radius*/

/*Global Card Container Adjustment*/
.card{
  border-radius: 15px;
}
/*End of Global Card adjustment*/

/*Global Radio button Mark color*/
/* .form-check-input:checked{
  background-color: #66737F !important;
  border-color: #66737F !important;
} */
/*End of Global Radio button Mark color*/

/*Global Signout Sidebar button*/
ul.dropdown-menu.text-small.shadow.show{
  margin-bottom: 19px;
  background-color: #2b3540;
  color: #000000;
}

/*Global textbox radius*/
.form-control{
  border-radius: 10px;
  font-size: 14px;
  height: 45px;
}
.form-check-label{
  font-size: 14px;
}
.form-check-input{
  border-radius: 10px;
}
.input-group-text{
  background-color: transparent !important;
}
/*End of Global textbox radius*/

/*Global Select Element */
.form-select {
  font-size: 14px;
  border-radius: 10px;
  height: 45px;
}
/*end of Global Select Element */

/* End of Global Signout Sidebar button*/


/*login left*/
.loginLeft h5, .loginRight h5 {
  font-size: 30px;
}

.loginRight .email input, .loginRight .password input{
  width: 299px !important;
  height: 44px;
  font-size: 16px;
  color: gray;
}

.loginRight label {
  font-size: 15px;
  font-weight: 300;
  color: #FAFCFD;
}

.loginLeft .logo {
  width: 336px;
  height: 117px;
}

.bi-eye-slash-fill::before {
  color: #B8C1CC !important;
}

.loginRight label {
  font-size: 15px;
}

.loginRight button {
  width: 221px;
  height: 44px;
  font-weight: 100;
  font-size: 15px;
  margin-left: 45px;
}

.loginRight .rememberme span {
  padding-left: 20px;
  color: #FAFCFD;
}

.loginRight .forgot a {
  text-decoration: none;
  color: #B8C1CC !important;
}

.loginRight .forgot a:hover {
  text-decoration: underline;
}

.loginRight .donthave {
  padding-left: 46px;
  font-weight: 100;
}

.loginRight .donthave a {
  text-decoration: none;
  font-weight: bolder;
}

.forgotpass h4 {
  font-size: 30px;

}

.forgotpass .h6 {
  line-height: 2em;
}

.forgotpass .h6, .forgotpass label {
  color: #E7ECF2 !important;
  font-size: 16px;
  font-weight: 100;
}

.forgotpass input, .forgotpass button {
  width: 302px;
  height: 44px;
}

.forgotpass button {
  color: #E7ECF2;
  font-weight: 100;
}

.forgotpass p a {
  font-size: 14px;
  color: #B8C1CC !important;
  font-weight: 100;
}

.forgotpassLeft img {
  width: 336px;
  height: 117px;
}

.signupLeft img {
  width: 336px;
  height: 117px;
}

.signupRight h5 {
  font-size: 30px;
  font-weight: 300;
}

.signupRight label {
  color: #E7ECF2 !important;
  font-size: 15px;
  font-weight: normal !important;
  font-weight: 300;
}

.signupRight .cancel {
    text-decoration: none;
    border: solid 1px #6a6464;
    width: 150px;
    display: block;
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.signupRight input {
  border-radius: 50px;
}

#myChartBar, #myChart {
    height: 100% !important;
}

.btnCollapse {
    position: absolute;
    top: 65px;
    margin-left: -27px;
    background: #1b252f;
    padding: 5px 5px 10px 3px;
    border-radius: 0px 100px 100px 0px;
    z-index: 1;
}

.btnCollapse button {
  background: transparent;
  border: 0px;
}

.rightLogo {
  z-index: 9;
}

.rightLogo .logo {
  width: 160px;
  background: #1b252f;
  z-index: 9;
}

.rightLogo .logoCollapse {
  width: 40px;
}

/*End of Create a Whisp QR*/

/*begin::Desktop tab selector*/
@media only screen and (max-width: 2560px) and (min-width:800px) {
  .mobiletabs.nav-line-tabs.nav-line-tabs-2x {
    display: none;
  }
}
/*end::Desktop tab selector*/

/*mobile tab selector*/
@media screen and (max-width: 800px) and (min-width: 320px){
  .desktoptabs.nav-line-tabs.nav-line-tabs-2x,
  ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1{
    display: none;
  }
  
}

